/*Import fonts*/
@font-face {
    font-family: 'BelledeMai4.0';
    src: url('fonts/BelledeMai40-Regular.woff2') format('woff2'),
        url('fonts/BelledeMai40-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Blatant';
    src: url('fonts/BlatantRegular.woff2') format('woff2'),
        url('fonts/BlatantRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*Global styles*/
/*Vertical full screen snap*/
html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

/*Vertical full screen snap for Safari*/
body {
    scroll-snap-type: y mandatory;
    height: 100vh;
    width: 100vw;
}

section {
    height: 100vh;
    width: 100vw;
/*    scroll-snap-align: start;*/
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: #DEDDDB;
    margin: 0;
}

p {
    margin-top: revert;
}

a {
    color: black;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: underline;
}

.noselect {
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

#noclick {
    text-decoration: none;
    cursor: default;
}

/*Main page container*/
.mainContainer {
    padding-top: 2%;
    padding-right: 5%;
    padding-left: 5%;
    display: inline-flex;
    background: none;
}

.projectContainer {
    position: relative;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

/*Main page navigation*/
.navigation {
    font-family: 'Blatant', sans-serif;
    font-size: 40px;
    display: inline-block;
}

.navigation:hover {
    cursor: pointer;
}

.rightNav {
    display: inline-block;
    float: right;
}

.bottomNav {
    position: relative;
    align-content: flex-end;
}

.rotateNav {
    transform: rotate(-90deg);
}

.rotateNav:hover {
    text-decoration: underline;
}

.worksnavbutton:hover {
    text-decoration: underline;
}


/*Main page header*/
.nameHeader {
    font-family: 'BelledeMai4.0', serif;
    font-size: 150px;
    text-align: center;
}

/*Project Overview*/
.projectTitle {
    font-family: 'Blatant', sans-serif;
    font-size: 65px;
    text-align: center;
    letter-spacing: 1px;
}

/*About*/
.aboutText {
    padding-left: 7%;
    padding-right: 7%;
    font-family: 'Blatant', sans-serif;
    font-size: 20px;
}

/*Interaction Note*/
.note {
    text-align: center;
    float: center;
    font-family: 'Blatant', sans-serif;
    font-size: 15px;
    font-style: italic;
}

/*Project Pages*/
.projectTitle{
    font-family: 'Blatant', sans-serif;
    font-size: 45px;
    text-align: center;
    letter-spacing: 1px;
    padding-top: 2%;
    padding-bottom: 3%;
}

.projectHeader {
    font-family: 'Blatant', sans-serif;
    font-size: 35px;
}

.projectText {
    font-family: 'Blatant', sans-serif;
    font-size: 20px;
    padding-top: 3%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 3%;
}

.centered {
    padding-right: 16%;
    padding-left: 16%;
}

.p5Canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#backbutton {
    width: 50px;
}